.header-bg{
    background-color: #F0FFF0;
    padding-top: 140px;
    padding-bottom: 50px;
}
.nav-bg{
    background-color: #F0FFF0;
    padding-top: 10px;
    padding-bottom: 10px;
}
.hero-buttom-speace, .testimonial-buttom-speace{
    margin-bottom: 50px;
}
.navbar-font-blod{
    font-weight: bold;
}
.sing-in{
    background-color: #21B573;
    border-radius: 33px;
    color: white;
    padding: 8px 25px;
    margin-left: 10px;
}
.headline-top{
    color:#FD511A;
}
.headline{
    font-size: 65px;
    font-weight: bolder;
}
.col-3{
    padding: 0;
}
.text-highlight{
    color: #21B573;
}
.btn-get-started{
    background-color: #21B573;
    border-radius: 33px;
    color: white;
    padding: 8px 30px;
}
.btn-get-started2{
    background-color: #21B573;
    border-radius: 33px;
    color: white;
    padding: 4px 30px;
}
/* .success{
    padding-top: 50px;
    padding-bottom: 50px;
} */
.box1, .box3, .box4{
    height: 270px;
    width: 270px;
    background-color:#F8FFFB;
    border-radius: 10px;
}
.box2{
    height: 270px;
    width: 270px;
    /*box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);*/
    border-radius: 10px;
}
.box-img{
    margin-bottom: 15px;
}
.courses h1{
    text-align: center;
    margin-bottom: 50px;
}
/* .card-img1, .card-img2, .card-img3{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
} */
.card-time-seat{
    font-size: 12px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 10px;
}
#card-box{
    border-radius: 50px;
}
.testimonial h1{
    text-align: center;
    margin-bottom: 50px;
}
.footer-bg{
    height: 270px;
    background-color: #282531;
    color: white;
    padding-top: 50px;
}
.footer-bg a, .footer-bg p{
    color: lightgray;
}
footer{
    background-color: #282531;
    color: lightgray;
    text-align: center;
    padding-bottom: 10px;
}